---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15yZX9Hm1LsTwnnZznC1xDZB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15yZX9Hm1LsTwnnZznC1xDZB",
          "created": 1430707335,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15yZX8Hm1LsTwnnZP8p6mnRR",
              "object": "charge",
              "created": 1430707334,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15yZVyHm1LsTwnnZp6dDfPha",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "hSdDiLlDMKgGgVqd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6AvKHwE9z0BJB4"
              },
              "captured": false,
              "card": {
                "id": "card_15yZVyHm1LsTwnnZp6dDfPha",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "hSdDiLlDMKgGgVqd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6AvKHwE9z0BJB4"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6AvKHwE9z0BJB4",
              "invoice": null,
              "description": "",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15yZX8Hm1LsTwnnZP8p6mnRR/refunds",
                "data": []
              },
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_6AvNU5nf6Mp3AZ",
          "api_version": "2014-08-04"
        }
  recorded_at: Mon, 04 May 2015 03:37:42 GMT
recorded_with: VCR 2.9.3
