---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15w7ngHm1LsTwnnZYhjzN37j&description=Sing%20up%20charge%20for%20mary%40test.com
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15w7nhHm1LsTwnnZqJa1tryR",
          "object": "charge",
          "created": 1430124073,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15w7ngHm1LsTwnnZI0srDqFP",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2016,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_15w7ngHm1LsTwnnZI0srDqFP",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2016,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_15w7nhHm1LsTwnnZRH31mZF6",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sing up charge for mary@test.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15w7nhHm1LsTwnnZqJa1tryR/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Mon, 27 Apr 2015 08:41:13 GMT
recorded_with: VCR 2.9.3
