---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15xZLDHm1LsTwnnZWu5cdvNF",
          "livemode": false,
          "created": 1430468267,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15xZLDHm1LsTwnnZlhwx0DQd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "111.83.37.14"
        }
  recorded_at: Fri, 01 May 2015 08:17:48 GMT
recorded_with: VCR 2.9.3
