---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15xUk8Hm1LsTwnnZzPpfzrx0",
          "livemode": false,
          "created": 1430450592,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15xUk8Hm1LsTwnnZWwK95Oo4",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "111.83.93.252"
        }
  recorded_at: Fri, 01 May 2015 03:23:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15xUk8Hm1LsTwnnZzPpfzrx0&plan=myflix_base&email=demetrius%40fahey.com
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430450593,
          "id": "cus_69oMoqpvNH39sN",
          "livemode": false,
          "description": null,
          "email": "demetrius@fahey.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69oMoqpvNH39sN/subscriptions",
            "data": [
              {
                "id": "sub_69oMsvs7HLU5kQ",
                "plan": {
                  "interval": "month",
                  "name": "the base plan for myflix",
                  "created": 1430446856,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix_base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null,
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1430450593,
                "status": "active",
                "customer": "cus_69oMoqpvNH39sN",
                "cancel_at_period_end": false,
                "current_period_start": 1430450593,
                "current_period_end": 1433128993,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69oMoqpvNH39sN/cards",
            "data": [
              {
                "id": "card_15xUk8Hm1LsTwnnZWwK95Oo4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "NfoheIZ05iYLkqY4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_69oMoqpvNH39sN"
              }
            ]
          },
          "default_card": "card_15xUk8Hm1LsTwnnZWwK95Oo4",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_69oMoqpvNH39sN/sources",
            "data": [
              {
                "id": "card_15xUk8Hm1LsTwnnZWwK95Oo4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "NfoheIZ05iYLkqY4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_69oMoqpvNH39sN"
              }
            ]
          },
          "default_source": "card_15xUk8Hm1LsTwnnZWwK95Oo4"
        }
  recorded_at: Fri, 01 May 2015 03:23:15 GMT
recorded_with: VCR 2.9.3
