---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15yaHOHm1LsTwnnZVrYYmgRo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15yaHOHm1LsTwnnZVrYYmgRo",
          "created": 1430710202,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15yaHNHm1LsTwnnZjdxkuFMI",
              "object": "charge",
              "created": 1430710201,
              "livemode": false,
              "paid": true,
              "status": "paid",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15yaHMHm1LsTwnnZddS4Yifx",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "NfoheIZ05iYLkqY4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Aw9Y4gVNUhJFk"
              },
              "captured": true,
              "card": {
                "id": "card_15yaHMHm1LsTwnnZddS4Yifx",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "NfoheIZ05iYLkqY4",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Aw9Y4gVNUhJFk"
              },
              "balance_transaction": "txn_15yaHNHm1LsTwnnZL10LcWJP",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6Aw9Y4gVNUhJFk",
              "invoice": "in_15yaHNHm1LsTwnnZyQZnCuGm",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15yaHNHm1LsTwnnZjdxkuFMI/refunds",
                "data": []
              },
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_6Aw9qacQYwFhyJ",
          "api_version": "2014-08-04"
        }
  recorded_at: Mon, 04 May 2015 06:10:17 GMT
recorded_with: VCR 2.9.3
