---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15xZKnHm1LsTwnnZj2eofgW5",
          "livemode": false,
          "created": 1430468241,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15xZKnHm1LsTwnnZ5Or5kYD8",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "client_ip": "111.83.37.14"
        }
  recorded_at: Fri, 01 May 2015 08:17:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15xZKnHm1LsTwnnZj2eofgW5&description=Sing%20up%20charge%20for%20millie_pagac%40schinner.net
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15xZKoHm1LsTwnnZjGvGRk4d",
          "object": "charge",
          "created": 1430468242,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15xZKnHm1LsTwnnZ5Or5kYD8",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "card": {
            "id": "card_15xZKnHm1LsTwnnZ5Or5kYD8",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "NfoheIZ05iYLkqY4",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "balance_transaction": "txn_15xZKoHm1LsTwnnZRrVsIGQO",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sing up charge for millie_pagac@schinner.net",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15xZKoHm1LsTwnnZjGvGRk4d/refunds",
            "data": []
          },
          "statement_description": null
        }
  recorded_at: Fri, 01 May 2015 08:17:23 GMT
recorded_with: VCR 2.9.3
