---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15wEpgHm1LsTwnnZxXB6DslH&description=Sing%20up%20charge%20for%20mary%40test.com
    headers:
      Authorization:
      - Bearer sk_test_N3kN90bAJxy1fhanixorOQ1v
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15wEphHm1LsTwnnZThdYSfE1"
          }
        }
  recorded_at: Mon, 27 Apr 2015 16:11:45 GMT
recorded_with: VCR 2.9.3
